# Criado por https://www.toptal.com/developers/gitignore/api/visualstudio,dotnetcore
 # Edite em https://www.toptal.com/developers/gitignore?templates=visualstudio,dotnetcore

 ### DotnetCore ###
 # Pastas de compilação do .NET Core
 caixa/
 obj/

 # Locais de módulos de nós comuns
 /node_modules
 /wwwroot/node_modules

 ### Estúdio visual ###
 ## Ignore arquivos temporários do Visual Studio, crie resultados e
 ## arquivos gerados por complementos populares do Visual Studio.
 ##
 ## Obtenha o mais recente em https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

 # Arquivos específicos do usuário
 *.rsuser
 *.suo
 *.do utilizador
 *.userosscache
 *.sln.docstates

 # Arquivos específicos do usuário (MonoDevelop/Xamarin Studio)
 *.userprefs

 # Arquivos mono gerados automaticamente
 mono_crash.*

 # Construir resultados
 [Dd]ebug/
 [Dd]ebugPublic/
 [Rr]liberar/
 [Rr]libera/
 x64/
 x86/
 [Ww][Ii][Nn]32/
 [Aa][Rr][Mm]/
 [Aa][Rr][Mm]64/
 bld/
 [Bb]in/
 [Oo]bj/
 [Ll]og/
 [Ll]ogs/

 # Diretório de cache/opções do Visual Studio 2015/2017
 .vs/
 # Descomente se você tiver tarefas que criam os arquivos estáticos do projeto em wwwroot
 #wwwroot/

 # Arquivos gerados automaticamente pelo Visual Studio 2017
 Gerado\ Arquivos/

 # Resultados do teste MSTest
 [Tt]est[Rr]result*/
 [Bb]uild[Ll]og.*

 #NUnit
 *.VisualState.xml
 TestResult.xml
 nunit-*.xml

 # Construir resultados de um projeto ATL
 [Dd]ebugPS/
 [Rr]soltaPS/
 dlldata.c

 # Resultados de referência
 BenchmarkDotNet.Artifacts/

 # .NET Núcleo
 projeto.lock.json
 project.fragment.lock.json
 artefatos/

 # ASP.NET Scaffolding
 ScaffoldingReadMe.txt

 # StyleCop
 StyleCopReport.xml

 # Arquivos criados pelo Visual Studio
 *_i.c
 *_p.c
 *_h.h
 *.ilk
 *.meta
 *.obj
 *.iobj
 *.pch
 *.pdb
 *.ipdb
 *.pgc
 *.pgd
 *.rsp
 *.sbr
 *.tlb
 *.tli
 *.tlh
 *.tmp
 *.tmp_proj
 *_wpftmp.csproj
 *.registro
 *.tlog
 *.vspscc
 *.vssscc
 .construções
 *.pidb
 *.svclog
 *.scc

 # Arquivos de teste Chutzpah
 _Chutzpah*

 # Arquivos de cache do Visual C++
 ipch/
 *.aps
 *.ncb
 *.opendb
 *.opensdf
 *.sdf
 *.cachefile
 *.VC.db
 *.VC.VC.opendb

 # Criador de perfil do Visual Studio
 *.psess
 *.vsp
 *.vspx
 *.seiva

 # Arquivos de rastreamento do Visual Studio
 *.e2e

 # Espaço de trabalho local do TFS 2012
 $tf/

 # Kit de ferramentas de automação de orientação
 *.gpState

 # ReSharper é um suplemento de codificação .NET
 _ReSharper*/
 *.[Rr]e[Ss]harper
 *.DotSettings.user

 # TeamCity é um suplemento de compilação
 _TeamCity*

 # DotCover é uma ferramenta de cobertura de código
 *.dotCover

 # AxoCover é uma ferramenta de cobertura de código
 .axoCover/*
 !.axoCover/settings.json

 # Coverlet é uma ferramenta de cobertura de código multiplataforma gratuita
 cobertura*.json
 cobertura*.xml
 cobertura*.info

 # Resultados da cobertura de código do Visual Studio
 *.cobertura
 *.coveragexml

 # N Crunch
 _NCrunch_*
 .*crunch*.local.xml
 nCrunchTemp_*

 #MightyMoose
 *.milímetros.*
 AutoTest.Net/

 # Web workbench (sass)
 .sass-cache/

 # Pasta de saída Installshield
 [Ee]expresso/

 # DocProject é um add-in gerador de documentação
 DocProject/buildhelp/
 DocProject/Help/*.HxT
 DocProject/Help/*.HxC
 DocProject/Help/*.hhc
 DocProject/Help/*.hhk
 DocProject/Help/*.hhp
 DocProject/Help/Html2
 DocProject/Help/html

 # Diretório Click-Once
 publicar/

 # Publicar saída da Web
 *.[Pp]ublish.xml
 *.azurePubxml
 # Nota: Comente a próxima linha se quiser verificar suas configurações de implantação da web,
 # mas as strings de conexão do banco de dados (com possíveis senhas) serão descriptografadas
 *.pubxml
 *.publishproj

 # Configurações de publicação do Microsoft Azure Web App.  Comente a próxima linha se quiser
 # verificando as configurações de publicação do aplicativo Web do Azure, mas as informações confidenciais contidas
 # nestes scripts serão descriptografados
 PublishScripts/

 # Pacotes NuGet
 *.nupkg
 # Pacotes de símbolos NuGet
 *.snupkg
 # A pasta de pacotes pode ser ignorada por causa da restauração do pacote
 **/[Pp]pacotes/*
 # exceto build/, que é usado como um destino do MSBuild.
 !**/[Pp]ackages/build/
 # Descomente se necessário, mas geralmente ele será regenerado quando necessário
 #!**/[Pp]ackages/repositories.config
 # Os arquivos project.json do NuGet v3 produzem mais arquivos ignoráveis
 *.nuget.props
 *.nuget.targets

 # Saída de compilação do Microsoft Azure
 csx/
 *.build.csdef

 # Emulador do Microsoft Azure
 ecf/
 rcf/

 # Diretórios e arquivos de pacotes de aplicativos da Windows Store
 AppPackages/
 Pacote de artefatos/
 Package.StoreAssociation.xml
 _pkginfo.txt
 *.appx
 *.appxbundle
 *.appxupload

 # Arquivos de cache do Visual Studio
 # arquivos terminados em .cache podem ser ignorados
 *.[Cc]dor
 # mas rastreie os diretórios que terminam em .cache
 !?*.[Cc]dor/

 # Outros
 ClientBin/
 ~$*
 *~
 *.dbmdl
 *.dbproj.schemaview
 *.jfm
 *.pfx
 *.publicarconfigurações
 orleans.codegen.cs

 # Incluir arquivos de nome forte pode apresentar um risco de segurança
 # (https://github.com/github/gitignore/pull/2483#issue-259490424)
 #*.snk

 # Como existem vários fluxos de trabalho, remova o comentário da próxima linha para ignorar bower_components
 # (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
 #bower_components/

 # Projetos RIA/Silverlight
 Código_gerado/

 # Arquivos de backup e relatório da conversão de um arquivo de projeto antigo
 # para uma versão mais recente do Visual Studio.  Arquivos de backup não são necessários,
 # porque temos git ;-)
 _UpgradeReport_Files/
 Cópia de segurança*/
 UpgradeLog*.XML
 UpgradeLog*.htm
 ServiceFabricBackup/
 *.rptproj.bak

 # arquivos SQL Server
 *.mdf
 *.ldf
 *.ndf

 # Projetos de Business Intelligence
 *.rdl.data
 *.bim.layout
 *.bim_*.configurações
 *.rptproj.rsuser
 *- [Bb]ackup.rdl
 *- [Bb]ackup ([0-9]).rdl
 *- [Bb]ackup ([0-9][0-9]).rdl

 #Microsoft Falsificações
 Montagens Falsas/

 # Arquivo de configuração do plugin GhostDoc
 *.GhostDoc.xml

 # Ferramentas Node.js para Visual Studio
 .ntvs_analysis.dat
 node_modules/

 # Registro de compilação do Visual Studio 6
 *.plg

 # Arquivo de opções do espaço de trabalho do Visual Studio 6
 *.optar

 # Arquivo de espaço de trabalho gerado automaticamente pelo Visual Studio 6 (contém quais arquivos foram abertos, etc.)
 *.vbw

 # Arquivo de projeto gerado automaticamente pelo Visual Studio 6 (contém quais arquivos foram abertos, etc.)
 *.vbp

 # Área de trabalho do Visual Studio 6 e arquivo de projeto (arquivos de projeto de trabalho contendo arquivos para incluir no projeto)
 *.dsw
 *.dsp

 # Arquivos técnicos do Visual Studio 6

 # Saída de compilação do Visual Studio LightSwitch
 **/*.HTMLClient/GeneratedArtifacts
 **/*.DesktopClient/GeneratedArtifacts
 **/*.DesktopClient/ModelManifest.xml
 **/*.Server/GeneratedArtifacts
 **/*.Server/ModelManifest.xml
 _Pvt_Extensions

 # Gerenciador de dependências de pacotes
 .paket/paket.exe
 arquivos-pacote/

 #FAKE - F# Make
 .falso/

 # Configurações pessoais do CodeRush
 .cr/pessoal

 # Ferramentas Python para Visual Studio (PTVS)
 __pycache__/
 *.pyc

 #Bolo - Descomente se estiver usando
 # ferramentas/**
 # !tools/packages.config

 # Tabs Studio
 *.tss

 # Arquivo de configuração JustMock do Telerik
 *.jmconfig

 # Saída de compilação do BizTalk
 *.btp.cs
 *.btm.cs
 *.odx.cs
 *.xsd.cs

 # Resultados da análise da interface do usuário do OpenCover
 OpenCover/

 # Saída de execução local do Azure Stream Analytics
 ASALocalRun/

 # Log binário e estruturado do MSBuild
 *.binlog

 # Arquivo de configuração do depurador GPU NVidia Nsight
 *.nvuser

 # Pasta de trabalho MFractors (ferramenta de produtividade Xamarin)
 .mfractor/

 # Histórico local para Visual Studio
 .localhistory/

 # Arquivos de histórico do Visual Studio (VSHistory)
 .vhistory/

 # Banco de dados temporário de verificação de saúde do BeatPulse
 healthchecksdb

 # Pasta de backup para a ferramenta Package Reference Convert no Visual Studio 2017
 MigraçãoBackup/

 # Pasta de trabalho Ionide (ferramentas F# VS Code de plataforma cruzada)
 .ionide/

 # Fody - esquema XML gerado automaticamente
 FodyWeavers.xsd

 # Arquivos VS Code para quem trabalha com várias ferramentas
 .vscode/*
 !.vscode/settings.json
 !.vscode/tasks.json
 !.vscode/launch.json
 !.vscode/extensions.json
 *.code-workspace

 # Histórico local para código do Visual Studio
 .história/

 # Arquivos do Windows Installer de saídas de compilação
 *.táxi
 *.msi
 *.msix
 *.msm
 *.msp

 # Piloto JetBrains
 *.sln.iml

 ### Atualização do VisualStudio ###
 # Arquivos adicionais criados pelo Visual Studio

 # Fim de https://www.toptal.com/developers/gitignore/api/visualstudio,dotnetcore
 